### Loading dataset

In [1]:
from google.colab import drive
from google.colab import files
import os

# Mount Google Drive
drive.mount('/content/drive')

# Path to dataset file on Google Drive
folder_path2014 = "/content/drive/MyDrive/SEM 06/6SP/Raw Operational Data from Enterprise Application - KAGGLE.zip (Unzipped Files)/2014"
folder_path2015 = "/content/drive/MyDrive/SEM 06/6SP/Raw Operational Data from Enterprise Application - KAGGLE.zip (Unzipped Files)/2015"

folders = [folder_path2014, folder_path2015]

# Log file list
log_files = []

file_path = "/content/drive/MyDrive/SEM 06/6SP/all_log_files.txt"

# Open the file in write mode
with open(file_path, 'w') as file:
  for folder in folders:
    for dirname, _, filenames in os.walk(folder):
        for filename in filenames:
            # print(os.path.join(dirname, filename))
            # Write content to the file
            file.write(os.path.join(dirname, filename))
            file.write("\n")


print("All file names saved to all_log_files.txt ")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
All file names saved to all_log_files.txt

In [2]:
import random

# Set the range for random numbers
start_range = 1
end_range = 18337
num_samples = 400

# Generate a list of random numbers
random_numbers = random.sample(range(start_range, end_range + 1), num_samples)

# Print the list of random numbers
print(random_numbers)

[16011, 2385, 15407, 5606, 5329, 16689, 9025, 5903, 6458, 11808, 10506, 15727, 368, 5897, 2544, 16788, 9602, 5088, 16948, 1624, 1815, 3710, 17352, 14198, 1455, 8540, 2693, 1692, 12142, 15946, 7743, 5828, 3210, 9623, 3309, 5862, 15515, 17061, 5316, 740, 6778, 7630, 6077, 15017, 7736, 9334, 2072, 17994, 13999, 13271, 8601, 10831, 5183, 8116, 6840, 14999, 17223, 13134, 10123, 16709, 17704, 11989, 16706, 10749, 9170, 2174, 5113, 11753, 14561, 4542, 16326, 16959, 13155, 6379, 8613, 8677, 1819, 2165, 9961, 1377, 3541, 17381, 15091, 10957, 8180, 5084, 488, 8587, 722, 5612, 8114, 11412, 12993, 6862, 3695, 9161, 17297, 2144, 11812, 17871, 497, 9558, 5865, 1284, 12096, 9647, 13974, 17892, 854, 8259, 1370, 1989, 11560, 12484, 6494, 13813, 15400, 7225, 14578, 3584, 1828, 5818, 382, 13599, 10364, 14045, 389, 716, 17967, 11359, 5842, 10807, 4248, 11775, 7086, 8251, 3029, 13776, 5252, 6401, 15292, 9741, 11067, 16985, 13249, 5179, 3739, 13013, 16151, 17935, 13275, 11807, 10835, 2804, 18183, 6246, 11229, 11482, 3887, 6504, 2475, 15999, 4338, 10275, 5431, 9754, 15042, 17776, 7782, 2422, 11343, 615, 4835, 9658, 7187, 16811, 12141, 10897, 17430, 12790, 13457, 10615, 8480, 16655, 11959, 13261, 435, 17966, 5930, 10772, 3784, 3142, 8462, 543, 8660, 10836, 2589, 7132, 2815, 15162, 10154, 16258, 4366, 12120, 14313, 17756, 14473, 11990, 19, 15036, 366, 10161, 15865, 17996, 5607, 5932, 12971, 16809, 12904, 17731, 1286, 7611, 553, 7182, 6337, 11480, 7459, 16102, 3641, 13574, 13560, 16373, 5926, 709, 4292, 18275, 12684, 18148, 16303, 3765, 5347, 14618, 11144, 2308, 5590, 15386, 8756, 7047, 1282, 4892, 2079, 11044, 16693, 6308, 4298, 3553, 5843, 2110, 1734, 13089, 16262, 13186, 384, 14348, 8200, 8261, 14645, 14366, 5433, 16716, 12463, 12236, 12528, 1694, 4198, 7412, 11134, 17347, 3247, 13389, 14296, 17653, 5563, 1687, 11216, 1924, 11843, 14553, 6654, 14529, 17277, 6881, 598, 2497, 2906, 8432, 13589, 2750, 9279, 7127, 4149, 16052, 7912, 11417, 12740, 4345, 15939, 10851, 5227, 9770, 2954, 12929, 10482, 4839, 8017, 784, 10004, 13661, 13810, 17541, 2030, 16923, 10557, 7664, 11954, 545, 15399, 4001, 7002, 12755, 1006, 7770, 2952, 13202, 8119, 16705, 16892, 16692, 10121, 5459, 16395, 9868, 15762, 16720, 5641, 2858, 6542, 6369, 6473, 16712, 9114, 6624, 15362, 6286, 10132, 6479, 11109, 51, 11425, 12941, 14316, 10784, 2092, 18164, 11087, 3877, 15181, 12171, 6373, 12098, 109, 3036, 2338, 1304, 2899, 926, 13246, 1122, 13212, 18067, 10722, 2808, 5002, 2370, 13601, 16511, 14292, 10361, 10390, 9408, 8721, 14094, 3734, 2829, 260, 15802, 17451, 4073, 12829, 12]

### Creating dataframes from log files

In [3]:
import pandas as pd

# Read the CSV file into a DataFrame
# df = pd.read_csv(file_path)
# print(df)

# List of dataframes
dfs = []


# file_path = "/content/drive/MyDrive/SEM 06/6SP/all_log_files.txt"

i = 0 # For line number

# Open the file in read mode
with open(file_path, 'r') as file:
    # Read the file line by line
    for line in file:
      i += 1
      if i > max(random_numbers):
        break
      if i in random_numbers:
        dfs.append( pd.read_csv(line.strip(),low_memory=False))


print(len(dfs))

400

###Dropping empty log file dataframes

In [4]:
print("Initial no. of dataframes = ",len(dfs))
empty_file_count = 0
i = -1
for df in dfs:
  i +=1
  if len(df) == 0:
    empty_file_count +=1
    print("Empty file found! Total = ",empty_file_count)
    del dfs[i]


print("Final no. of dataframes = ",len(dfs))

Initial no. of dataframes =  400
Empty file found! Total =  1
Empty file found! Total =  2
Empty file found! Total =  3
Empty file found! Total =  4
Empty file found! Total =  5
Empty file found! Total =  6
Empty file found! Total =  7
Empty file found! Total =  8
Empty file found! Total =  9
Empty file found! Total =  10
Empty file found! Total =  11
Empty file found! Total =  12
Empty file found! Total =  13
Empty file found! Total =  14
Empty file found! Total =  15
Empty file found! Total =  16
Empty file found! Total =  17
Empty file found! Total =  18
Empty file found! Total =  19
Empty file found! Total =  20
Empty file found! Total =  21
Empty file found! Total =  22
Empty file found! Total =  23
Empty file found! Total =  24
Empty file found! Total =  25
Empty file found! Total =  26
Final no. of dataframes =  374

### Viewing some df from dfs

In [5]:
len(dfs[3])
dfs[3].head()

,Date,\Cpu\sy,\Cpu\st,\Cpu\ni,\Cpu\us,\Load\avg,\Tasks\sleeping,\Cpu\hi,\Cpu\si,\Tasks\stopped,...,\Tasks\total,\Memory\buffers,\Swap\total,\Tasks\zombie,\Swap\used,\Swap\free,\Uptime\up,\Memory\total,\User\users,Unnamed: 27
0,11.08.2014 14:46:10.178,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,"33,473,691,648",-1,"16,637,755,392","16,835,936,256",-1,-1,-1,NaN
1,11.08.2014 14:47:10.940,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,"33,473,691,648",-1,"16,637,755,392","16,834,887,680",-1,-1,-1,NaN
2,11.08.2014 14:48:11.685,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,"33,473,691,648",-1,"16,636,706,816","16,835,936,256",-1,-1,-1,NaN
3,11.08.2014 14:49:12.411,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,"33,473,691,648",-1,"16,637,755,392","16,834,887,680",-1,-1,-1,NaN
4,11.08.2014 14:50:13.135,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,"33,473,691,648",-1,"16,638,803,968","16,833,839,104",-1,-1,-1,NaN

### Creating log file clusters based on column names

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.decomposition import PCA
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler


# Load log files into separate DataFrames
dataframes = dfs

# Extract column names from each DataFrame
column_names = []
for df in dataframes:
    column_names.append(df.columns.tolist())

print(len(column_names[3]))

28

In [7]:
# Creating a pyton set to store column names
columns_set =set()

file_path = "/content/drive/MyDrive/SEM 06/6SP/columns.txt"
# Open the file in write mode
with open(file_path, 'w') as file:
  for cols in column_names:
    for col in cols:
      file.write(col)
      file.write('\n')

with open(file_path, 'r') as file:
    lines = file.readlines()


# Reading column names and adding to the set
with open(file_path, 'r') as file:
    for line in file:
      columns_set.add(line)
# lines = all columns including repetitions
print('Duplicate coumn names = ',len(lines)-len(columns_set))



# Create feature matrix
vectorizer = CountVectorizer(binary=True)
X = vectorizer.fit_transform(columns_set)

# Apply dimensionality reduction
pca = PCA(n_components=2)  # Can adjust the number of components
X_reduced = pca.fit_transform(X.toarray())

# Perform clustering with DBSCAN
scaler = StandardScaler()
X_reduced_scaled = scaler.fit_transform(X_reduced)

Duplicate coumn names =  44903

In [8]:
 # DBSCAN try 1


dbscan = DBSCAN(eps=0.5, min_samples=2)  # Adjust the eps and min_samples values <----------------------------------
clusters = dbscan.fit_predict(X_reduced_scaled)

print("Clusters  =  ",clusters)

cluster_types = set()

for c in clusters:
  cluster_types.add(c)


print("Cluster Types = ",cluster_types)

# Assign log files to clusters
log_files_clusters = {}
for i, file in enumerate(log_files):
    log_files_clusters[file] = clusters[i]

# Print the log file and its corresponding cluster
for file, cluster in log_files_clusters.items():
    print(f"Log file: {file}, Cluster: {cluster}")
    print("Done!")


print("Done!!!")

Clusters  =   [0 1 1 ... 1 4 2]
Cluster Types =  {0, 1, 2, 3, 4}
Done!!!

In [9]:
 # DBSCAN try 2


from sklearn.cluster import DBSCAN
from sklearn.preprocessing import LabelEncoder
import pandas as pd

# Convert column names to numerical labels
#columns_set = {'column1', 'column2', 'column3', 'column4', 'column5'}
label_encoder = LabelEncoder()
numeric_labels = label_encoder.fit_transform(list(columns_set))

# Create feature vectors for each dataframe
#dfs = [df1, df2, df3]  # Replace with your list of pandas dataframes
feature_vectors = []
for df in dfs:
    column_names = df.columns.tolist()
    feature_vector = [1 if col_name in column_names else 0 for col_name in columns_set]
    feature_vectors.append(feature_vector)

# Apply DBSCAN clustering
dbscan = DBSCAN(eps=0.5, min_samples=2)  # Adjust eps and min_samples as per your requirements
cluster_labels = dbscan.fit_predict(feature_vectors)

# Analyze the clusters
results = pd.DataFrame({'Dataframe': dfs, 'Cluster Label': cluster_labels})
print(results)

display(results)


print(results.columns)

                                             Dataframe  Cluster Label
0                             Date  *java.lang*  *@...              0
1                             Date      .*  Unnamed...              0
2                             Date  \Cpu\us  \Memor...              0
3                            Date  \Cpu\sy  \Cpu\st...              0
4                             Date  \Process(java)\...              0
..                                                 ...            ...
369                           Date \Process(java#1)...              0
370                           Date .*TracingAspect....              0
371                           Date  \Process(java#1...              0
372                           Date .*TracingAspect....              0
373                           Date  \Memory\total  ...              0

[374 rows x 2 columns]

                                             Dataframe  Cluster Label
0                             Date  *java.lang*  *@...              0
1                             Date      .*  Unnamed...              0
2                             Date  \Cpu\us  \Memor...              0
3                            Date  \Cpu\sy  \Cpu\st...              0
4                             Date  \Process(java)\...              0
..                                                 ...            ...
369                           Date \Process(java#1)...              0
370                           Date .*TracingAspect....              0
371                           Date  \Process(java#1...              0
372                           Date .*TracingAspect....              0
373                           Date  \Memory\total  ...              0

[374 rows x 2 columns]

Index(['Dataframe', 'Cluster Label'], dtype='object')